.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);

  position: relative;
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

@media (max-width: 64em) {
  .product {
    margin: 0;
    height: 100vh;
  }

  .product section {
    width: 100%;
  }

  .product h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 48em) {
  .product section {
    grid-template-columns: 1fr;
    gap: 5rem;
    justify-items: center;
  }

  .product h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .product section img {
    width: 45%;
  }
}

@media (max-width: 26.5em) {
  .product section {
    margin: 2.5rem auto;
  }
}

@media (max-width: 23.5em) {
  .product h2 {
    font-size: 2rem;
  }
}