.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.nav-icon {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 999;

  display: none;
}

.nav-icon svg{
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-light--2);
}

@media (max-width: 48em) {

  .nav ul {
    background-color: rgba(66, 72, 77, 0.9);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav ul{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav a:link,
  .nav a:visited {
    font-size: 3rem;
  }

  .nav-icon {
    display: block;
  }
}