.sidebar {
  width: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
  z-index: 9999;

  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.sidebar-open .sidebar {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.sidebar-icon {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;

  border: none;
  background: none;
  cursor: pointer;
}

.sidebar-icon svg {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-light--2);
}


@media (max-width: 64em) {
  .sidebar {
    top: 0;
    left: 0;
    height: 100%;
  }
}

@media (max-width: 48em) {
  .logo {
    display: none;
  }

  .sidebar {
    width: 100%;
    height: 65%;
    transform: translateY(100%);
  }

  .sidebar-open .sidebar {
    transform: translateY(54%);
  }
}

@media (max-width: 26.5em) {
  .sidebar {
    padding: 3rem 1.5rem 3.5rem 1.5rem;
  }
}
